.login-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.form-cont{
    border: 1px  solid black;
    background-color: transparent;
    padding: 50px;
}